<footer class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img src="../../assets/nav_logo.jpeg" alt="" />
    </div>
    <div class="col-lg-4">
      <p class="text-white fs-4">General</p>
      <ul>
        <li>
          <a href="">Acoomodation</a>
        </li>
        <li>
          <a href="">Dine & Drink</a>
        </li>
        <li>
          <a href="">Spa & Leisure</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <p class="text-white fs-4">Contact Us</p>
      <ul>
        <li>
          <a href="">Address: FPT Hola</a>
        </li>
        <li>
          <a href="">Phone: 0813955696</a>
        </li>
        <li>
          <a href="">Email:BinhDV6@fpt.com</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="text-center py-2 copyright">
  <p class="mb-0">Copyright &copy; BinhDV6</p>
</div>
