<app-header></app-header>
<main>
  <div class="hero">
    <img src="../../assets/hero_bg.jpeg" alt="" />
    <div class="hero__content text-center">
      <p class="text-uppercase">this is the most comfortable hotel</p>
      <p class="text-capitalize">luxurious design</p>
      <p>__________________________</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aspernatur
        ipsa ad corrupti exercitationem dolorum rem quidem facilis sapiente
        dolorem?
      </p>
    </div>
  </div>
  <div class="history">
    <div class="row">
      <div class="col-lg-5">
        <img src="../../assets/mallorca.jpeg" alt="" class="w-100" />
        <div class="history-num">
          <p><span>30</span>&nbsp; years in</p>
          <p>the tourism industry</p>
        </div>
      </div>
      <div class="col-lg-7 my-auto">
        <div class="d-flex mb-5">
          <div class="border-start border-2 b-start-color me-3"></div>
          <div class="hotel-title">
            <p class="text-uppercase mb-0">the best luxyry hotel</p>
            <p>
              Find the right Apartment <br />
              Hotel & Resort for you
            </p>
          </div>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
          nobis impedit ratione mollitia? Adipisci quasi nobis, odit autem quae
          nostrum!
        </p>
        <div class="box mb-3">
          <div class="d-flex">
            <i class="bi bi-buildings"></i>
            <p class="text-capitalize my-auto">5 star hote in world</p>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
            blanditiis!
          </p>
        </div>
        <div class="box">
          <div class="d-flex">
            <i class="bi bi-box-seam"></i>
            <p class="text-capitalize my-auto">5 star hote in world</p>
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
            blanditiis!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="room-types text-center">
    <div class="hotel-title">
      <p class="text-uppercase mb-0">the best confortable</p>
      <p class="mb-0">Rooms & Suites</p>
      <p>_______________</p>
    </div>
    <div class="room-types__img row">
      <div class="col-lg-3 position-relative">
        <img src="../../assets/room1.jpeg" alt="" />
        <div class="room-types__img-content text-start">
          <p>From $90/night</p>
          <div>
            <p>Standarn room</p>
            <p>40m2/1 bed/1 bathroom</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 position-relative">
        <img src="../../assets/room1.1.jpeg" alt="" />
        <div class="room-types__img-content text-start">
          <p>From $90/night</p>
          <div>
            <p>Deluxe room</p>
            <p>40m2/1 bed/1 bathroom</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 position-relative">
        <img src="../../assets/room2.jpeg" alt="" />
        <div class="room-types__img-content text-start">
          <p>From $90/night</p>
          <div>
            <p>Family room</p>
            <p>40m2/1 bed/1 bathroom</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 position-relative">
        <img src="../../assets/room3.jpeg" alt="" />
        <div class="room-types__img-content text-start">
          <p>From $90/night</p>
          <div>
            <p>Superior room</p>
            <p>40m2/1 bed/1 bathroom</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="royal-palace text-center">
    <div class="hotel-title">
      <p class="text-uppercase mb-0">the best modern hotel</p>
      <p class="mb-0">Why is RoyalPlace</p>
      <p>_______________</p>
      <p class="hotel-title__content mb-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam minus
        optio facilis praesentium consequatur architecto incidunt eos possimus,
        necessitatibus quidem.
      </p>
    </div>
    <div class="royal-palace__content">
      <div class="row">
        <div class="col-lg-5">
          <img src="../../assets/royall_place.webp" alt="" />
        </div>
        <div class="col-lg-7 my-auto">
          <div class="d-flex">
            <div class="border-start border-2 b-start-color me-3"></div>
            <div class="text-start royal-palace__content-text">
              <p>Top <span>Restaurant</span> dish</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                voluptatem assumenda omnis architecto eligendi sit repellat
                tenetur perferendis aliquam nam!
              </p>
              <button class="btn-pastel text-uppercase">read more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 my-auto">
          <div class="d-flex">
            <div class="text-end royal-palace__content-text me-3">
              <p>Full <span>Spa</span> Service</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                voluptatem assumenda omnis architecto eligendi sit repellat
                tenetur perferendis aliquam nam!
              </p>
              <button class="btn-pastel text-uppercase">read more</button>
            </div>
            <div class="border-start border-2 b-start-color"></div>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="../../assets/royal_place2.jpeg" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <img src="../../assets/royal_place3.jpeg" alt="" />
        </div>
        <div class="col-lg-7 my-auto">
          <div class="d-flex">
            <div class="border-start border-2 b-start-color me-3"></div>
            <div class="text-start royal-palace__content-text">
              <p>Free <span>Outdoor</span> Activities</p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
                voluptatem assumenda omnis architecto eligendi sit repellat
                tenetur perferendis aliquam nam!
              </p>
              <button class="btn-pastel text-uppercase">read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bilury text-center">
    <img src="../../assets/bilury.jpeg" alt="" />
    <div class="bilury__content">
      <p class="mb-0">Royal Hotel</p>
      <p>_______________</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        consectetur ex quod reprehenderit ut repellat debitis, laborum ratione
        porro dolorem.
      </p>
    </div>
  </div>
  <div class="comment text-center">
    <div class="hotel-title">
      <p class="text-uppercase mb-0">what our clients say</p>
      <p class="mb-0">Our feedbacks</p>
      <p>_______________</p>
    </div>
    <div class="comment__cotent">
      <div class="row">
        <div class="col-lg-4">
          <img src="../../assets/trump.webp" alt="" class="rounded-circle" />
          <p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            facere dignissimos unde libero? Quod, impedit?
          </p>
          <p><i>- Donald Trump -</i></p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/putin.jpeg" alt="" class="rounded-circle" />
          <p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            facere dignissimos unde libero? Quod, impedit?
          </p>
          <p><i>- Vladimir Putin -</i></p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/zelesky.jpeg" alt="" class="rounded-circle" />
          <p>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
            facere dignissimos unde libero? Quod, impedit?
          </p>
          <p><i>- Vladimir Zelenskyi -</i></p>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
