<main>
  <div class="video">
    <video  class="w-100" autoplay>
    <source src="../../assets/video_about_us.mp4">
    </video>
  </div>
  <div class="p-layout">
    <div class="hotel-title f-Times-title text-center">
      <p class="text-uppercase">about us</p>
      <p class="text-uppercase mb-0">Since 30+ Years</p>
      <p class="mb-5">_______________</p>
    </div>
  </div>
  <div class="since-years p-layout">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex mb-3">
          <div class="border-start border-2 b-start-color me-3"></div>
          <div class="hotel-title f-Times-title">
            <p class="text-uppercase mb-0">the best luxyry hotel</p>
            <p class="num_year">
              Find the right Apartment
              Hotel & Resort for you
            </p>
          </div>
        </div>
        <p class="f-Ysabeau-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eligendi magni molestias alias a ratione soluta impedit placeat sapiente laborum deleniti nemo totam aperiam quasi voluptatem repudiandae, nam ullam maiores?</p>
      </div>
      <div class="col-lg-6">
        <div class="row">
          
        </div>
      </div>
    </div>
  </div>
</main>
