<main>
    <div class="hero">
    <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="../../assets/new_slide1.jpeg" class="d-block w-100 " alt="...">
    </div>
    <div class="carousel-item " data-bs-interval="2000">
      <img src="../../assets/new_slide2.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item "  data-bs-interval="2000">
      <img src="../..//assets/new_slide3.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
  <div class="news p-layout ">
    <div class="hotel-title f-Times-title text-center">
      <p class="text-uppercase">hotel news</p>
      <p class="text-uppercase">event</p>
      <p class="mb-5">_______________</p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="news__content">
          <img src="../../assets/overview1.jpeg" alt="" class="w-100">
          <div>
            <p>Pool party</p>
            <p class="f-Ysabeau-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, officia quod. Animi quas cupiditate quod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="news__content">
          <img src="../../assets/news2.jpeg" alt="" class="w-100">
          <div>
            <p>Breakfast in Morning</p>
            <p class="f-Ysabeau-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, officia quod. Animi quas cupiditate quod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="news__content">
          <img src="../../assets/event1.jpeg" alt="" class="w-100">
          <div>
            <p>Barbecue</p>
            <p class="f-Ysabeau-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, officia quod. Animi quas cupiditate quod.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</main>
